{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/allProducts.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Carrito de Compras</title>
    <style>
        td img{
            width: 80px;
            height: 80px;
        }
    </style>
</head>
<body>
    {% include 'components/navBarProducts.html' %}

    <section class="containerAllProducts">
        
        <div class="containerGoBack">
            <a href="{% url 'home' %}">
                <i class="bi bi-arrow-left-circle"></i>
                Volver
            </a>
        </div>

        <div class="containerCartProducts">
            <div>
                <div class="titleCart">
                    <h2>Resumen de tu Compra</h2>
                </div>

                <div>
                    <div class='containerTable'>
                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre del Producto</th>
                                    <th>Imagen del Producto</th>
                                    <th>Descripción del Producto</th>
                                    <th>Talla</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unitario</th>
                                    <th>Valor Total</th>
                                    <th class="optionsFile">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                    <tr>
                                        <td data-label='Nombre del Producto'>{{item.cartProduct.productName}}</td>                                    
                                        <td data-label='Imagen'>
                                            <img class="productImage" src="{{item.cartProduct.productImage.url}}" alt="productImage">
                                        </td>                        
                                        <td data-label='Descripción del Producto'>{{item.cartProduct.productDescription}}</td>
                                        <td data-label='Talla del producto'>{{item.cartSize.sizeName}}</td>                        
                                        <td data-label='Unidades'>{{item.cartQuantity}}</td>      
                                        <td data-label='Precio Unitario'>{{item.cartProduct.productPrice}}</td>      
                                        <td data-label='Valor Total'>{{item.price}}</td>      
                                        <td data-label="Opciones">
                                            <a href="/cart/removeCart/{{item.id}}">
                                                <i class="bi bi-trash3-fill options clientDelete"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="containerSendProduct">
                <h2>Entrega - Productos</h2>

                <p>
                    Mira todas las opciones de envio para tus productos, 
                    incluyendo los plazos del envio y los precios del envio.
                </p>

                <div class="productTotal">
                    <h3><span>Subtotal:</span></h3>                    
                    <h3>$ {{totalPrice}} COP</h3>
                </div>

                <div class="productTotal">            
                    <h3><span>Total:</span></h3>
                    <h3>$ {{totalPrice}} COP</h3>
                </div>

                <div class="containerFormCart">
                    <form action="/cart/confirmBuyed/{{cart.cartId}}" method="post">{% csrf_token %}
                        <input type="hidden" name="totalPrice" value="{{totalPrice}}">
                        <button type="submit">Finalizar la Compra</button>
                    </form>
                </div>

                <div class="continueBuying">
                    <i class="bi bi-arrow-left-circle"></i>
                    <a href="{% url 'home' %}">
                        Seguir comprando
                    </a>
                </div>

                <a href="https://wa.me/3157201170?text=Mi vida">Hola</a>

            </div>

        </div>

    </section>

    {% include 'components/footer.html' %}

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script>

{% for i in messages %}
    {% if i.tags == 'success' %}
        <script>
            Swal.fire({
                icon : 'success',
                title : 'Felicidades',
                text : '{{i}}',
                confirmButtonText : 'Siguiente',
                allowEnterKey : true,
                allowOutsideClick: false,
                confirmButtonColor : '#4db600',
                allowEscapeKey : false
            })
        </script>
    {% else %}
        <script>
            Swal.fire({
                icon : 'error',
                title : 'Opss...',
                text : 'No se ha podido agregar el producto al carrito de manera correcta, intenta nuevamente',
                allowEnterKey : true,
                allowOutsideClick: false,
                confirmButtonColor : '#ffb0a6',
                allowEscapeKey : false
            })
        </script>
    {% endif %}
{% endfor %}

</html>