{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">    
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/manageUsers.css' %}">
    <title>Gestión - Productos</title>
    <style>
        td img{
            width: 150px;
            height: 200px;
        }
    </style>
</head>
<body>

    {% include 'components/navBarProducts.html' %}
    
    <section class="containerUsers">
        <div class="containerGoBack">
            <a href="{% url 'home' %}">
                <i class="bi bi-house-fill"></i>
            </a>
        </div>

        <div class="titleUsers">
            <h2>Inventario de Productos</h2>
        </div>

        <div class="contextPage">
            <p>
                Bienvenido usuario administrador, te encuentras en el apartado de productos en el cual podrás realizar la gestión de tu propio inventario de productos,
                podrás visualizar absolutamente todos los productos que se encuentran dentro de tu base de datos, tendrás la opción de poder agregar nuevos productos 
                con sus respectivas características, imagen y precio, al elegir un producto en específico podrás actualizarlo y eliminarlo, al momento de la actualización
                al producto se le podrán actualizar todas sus respectivas características, y la última opción es la de eliminar en la cual se elegirá un producto en específico y 
                podrás realizar la eliminación correspondiente dentro del sistema.
            </p>
        </div>

        <div>
            <div class="containerAddUser">
                <div class="containerSubAdd">
                    <a href="{% url 'renderInsertProducts' %}">
                        <h3>
                            <i class="bi bi-bag-plus-fill"></i>
                            Añadir Producto
                        </h3>
                    </a>
                </div>
            </div>

            <div class="containerCartProducts">
                <div>
                    <div>
                        <div class='containerTable'>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Nombre del Producto</th>
                                        <th>Descripción</th>
                                        <th>Precio</th>
                                        <th>Unidades</th>
                                        <th>Imagen</th>
                                        <th>Categoría</th>
                                        <th>Referencia</th>
                                        <th>Tallas</th>
                                        <th class="optionsFile">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <td data-label='Numero del Producto'>{{product.productName}}</td>     
                                            <td data-label='Descripción del Producto'>{{product.productDescription}}</td>                                    
                                            <td data-label='Precio del Producto'>{{product.productPrice}}</td>                                    
                                            <td data-label='Unidades'>{{product.productStock}}</td> 
                                            <td data-label='Imagen'>
                                                <img src="{{product.productImage.url}}" alt="ImageProduct">
                                            </td> 
                                            <td data-label='Categoría'>{{product.categoryId.categorieName}}</td> 
                                            <td data-label='Referencia'>{{product.referenceId.referenceDescription}}</td> 
                                            <td data-label='Tallas'>
                                                {% for size in product.sizeId.all%}
                                                    {{size.sizeName}}
                                                {% endfor %}
                                            </td> 
                                            <td data-label="Opciones">
                                                <a href="/users/renderUpdateProducts/{{product.productId}}">
                                                    <i class="bi bi-arrow-clockwise options clientUpdate"></i>                                                    
                                                </a>                                    
                                                <a href="#" onclick="deleteProduct('{{product.productId}}')">
                                                    <i class="bi bi-trash3-fill options clientDelete"></i>
                                                </a>
                                            </td>
                                        </tr>                                        
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </section>
    
    {% include 'components/footer.html' %}
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script>

<script>
    function deleteProduct(productId){        
        Swal.fire({
            icon : 'question',
            title : '¿Estas Seguro?',
            text : 'Esta es una acción definitiva, no la podras deshacer',          
            showCancelButton : true,
            cancelButtonText : 'No, Cancelar',
            confirmButtonText : 'Si, Eliminar',
            reverseButtons : true,
            confirmButtonColor : '#dc3545',
            cancelButtonColor : '#8CD608'
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = '/users/deleteProducts/'+productId
            }
        })
    }
</script>

{% for message in messages %}

    {% if message.tags == 'success' %}
        <script>
            Swal.fire({
                icon : 'success',
                title : 'Felicidades',
                text : '{{message}}',
                confirmButtonText : 'Siguiente',
                allowEnterKey : true,
                allowOutsideClick : false,
                confirmButtonColor : '#4db600',
                allowEscapeKey : false
            })
        </script>
    {% else %}
        <script>
            Swal.fire({
                icon : 'info',
                title : 'Opss...',
                text : '{{message}}',
                confirmButtonText : 'Siguiente',
                allowEnterKey : true,
                confirmButtonColor : '#00b6a0',
                allowOutsideClick : false,
                allowEscapeKey : false
            })  
        </script>
    {% endif %}

{% endfor %}

</html>