{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">    
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/products/newProduct.css' %}">
    <title>Nuevo Usuario</title>
</head>
<body>

    {% include 'components/navbarMain.html' %}

    <section class="containerNewUser">
        <div class="containerGoBack">
            <a href="{% url 'manageProducts' %}">
                <i class="bi bi-arrow-left-circle"></i>
            </a>
        </div>

        <div class="titleUsers">
            <h2>Registro de Nuevos Productos</h2>
        </div>

        <div class="contextPage">
            <p>
                En este apartado de registro de nuevos usuarios podras ingresar nuevos usuarios al sistema de información, te ayudara a la generación
                de nuevas cuentas en donde los usuarios podran ingresar para hacer las operaciones correspondientes ademas de las funcionalidades de 
                cada rol especifico de usuario. 
            </p>
        </div>

        <div class="containerForm">
            <div class="containerFormRegister">
            <h4>NUEVO PRODUCTO</h4>
            <form action="" method = "POST" name="form" onsubmit="return validateRegister()">
                {% csrf_token %}      
                <input type="text" name="productName" id="productName" placeholder="Nombre del Producto*" required>
                <br>
                
                <textarea cols="50" rows="10" name="productDescription" id="productDescription" placeholder="Descripción del producto*" required></textarea>
                <br>
                
                <input type="text" name="productPrice" id="productPrice" placeholder="Precio del Producto*" required>                
                <br>
                <br>

                <div class="containerLabel">
                    <label for="counterValue">Unidades disponibles:</label>
                </div>
                <br>
                <br>
                <div class="containerQuantity">                        
                    <input type="hidden" name="counterValue" id = "quantity" value = "1">
                    <button type="button" class="buttonQuantity" id = "decrementBtn" onclick="decrementQuantity()">-</button>
                    <span class="numberQuantity" name = "counterValue" id = "quantity-display">1</span>
                    <button type="button" class="buttonQuantity" id = "incrementBtn" onclick="incrementQuantity()">+</button>
                </div>
                <br>
                
                <div class="containerLabel">
                    <label for="productImage">Imagen del Producto:</label>
                </div>
                <input type="file" name="productImage" id="productImage" placeholder = "Imagen del Producto*" required>
                <br>           
                <br> 

                <div class="containerLabel">
                    <label for="categoryId">Categoria del Producto:</label>
                </div>
                <br>
                <select name="categoryId" id="categoryId">
                    {% for categorie in categories %}
                        <option value="{{categorie.categoryId}}">{{categorie.categorieName}}</option>
                    {% endfor %}
                </select>
                <br>
                <br>

                <div class="containerLabel">
                    <label for="referenceId">Materiales de Referencia:</label>
                </div>
                <br>
                <select name="referenceId" id="referenceId">
                    <option value=""></option>
                    {% for reference in referencies %}
                        <option value="{{reference.referenceId}}">{{reference.referenceDescription}}</option>
                    {% endfor %}
                </select>
                <br>
                <br>

                <div class="containerLabel">
                    <label for="sizesId">Elige las tallas del produto:</label>
                </div>
                <div class="containerSize">                    
                    {% for size in sizes%}
                        <input type="checkbox" name="{{size.sizeName}}" value = "{{size.sizeId}}">
                        <h4>{{size.sizeName}}</h4>
                    {% endfor %}
                </div>

                <button class="buttonRegister buttonColor1" type="submit">Ingresar Producto</button>
                <br>
            </form>
            </div>
        </div>


    </section>

    {% include 'components/footer.html' %}
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script>
<script src="{% static 'js/validateRegister.js' %}"></script>

<script>
    function incrementQuantity(){
        var quantityInput = document.getElementById('quantity')
        var quantityDisplay = document.getElementById('quantity-display')
        var quantity = parseInt(quantityInput.value)

        quantity ++;

        quantityInput.value = quantity
        quantityDisplay.textContent = quantity
    }

    function decrementQuantity(){
        var quantityInput = document.getElementById('quantity')
        var quantityDisplay = document.getElementById('quantity-display')
        var quantity = parseInt(quantityInput.value)

        if(quantity > 1){
            quantity --
            quantityInput.value = quantity
            quantityDisplay.textContent = quantity
        }

        else if(quantity < 1){
            quantity = 1
        }

    }
</script>

</html>