*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerNewUser{
    padding: 80px;
}

.containerGoBack{
    width: 100%;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    text-decoration: underline;
    font-weight: bold;
    color:rgb(37, 181, 234);
    text-decoration: none;
}

.containerGoBack:hover{
    text-decoration: underline;
    transition: all ease-in 0.3s;
}

.containerGoBack a{
    text-decoration: none;
    color:rgb(37, 181, 234);
}

.containerGoBack:hover i{
    color: black;
    transition: all ease-in-out 0.3s;
}

.titleUsers{
    text-align: center;
    margin-top: 30px;
    color:rgb(37, 181, 234);
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    text-decoration: underline;
    font-size: large;
}

.contextPage{
    margin-top: 40px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: medium;
}

.containerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.containerFormRegister{
    width: 34%;
    border: 2px solid rgb(112, 179, 227);
    text-align: center;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 30px;
    box-shadow: 9px 9px 9px 1px gray;
}

.containerFormRegister h4{
    color:rgb(37, 181, 234);
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.containerFormRegister input{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: 2px solid rgb(112, 179, 227);
    color: rgb(31, 128, 163);
    padding-left: 10px;
}

.containerFormRegister textarea{
    width: 100%;
    margin-top: 20px;
    border: 2px solid rgb(112, 179, 227);
    color: rgb(31, 128, 163);
    padding-top: 10px;
    padding-left: 10px;
}

.containerFormRegister select{
    width: 100%;
    border: 2px solid rgb(112, 179, 227);
    color: rgb(31, 128, 163);
    padding: 10px;
    padding-left: 10px;
    text-align: center;
    background-color: white;
}

.containerLabel{
    text-align: start;
    color:rgb(37, 181, 234);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    margin-top: 25px;
}

.containerSize{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -20px;
}

.containerSize input{
    height: 30px;
    margin-top: 0px;
}

.containerFormRegister .imageProduct{
    margin-top: 30px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.containerFormRegister .inputImage{
    display: none;
}

.containerFormRegister .buttonImage{
    width: 100%;
    padding: 15px;
    padding-left: 22px;
    padding-right: 22px;
    background-color:rgb(37, 181, 234);
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.buttonImage:hover{
    background-color: black;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.buttonRegister{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: medium;
    color: white;
    text-decoration: none;
    border: none;
}

.buttonRegister:hover{
    cursor: pointer;
    background-color: black;
    transition: all ease-in-out 0.3s;
}

.buttonColor1{
    background-color: rgb(31, 128, 163);
}

.buttonRegister a{
    color: white;
    text-decoration: none;
}

.containerQuantity{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -10px;
    height: 5%;
}

.buttonQuantity{
    width: 10%;
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: white;
    margin: 12px;
    background-color: rgb(41, 182, 234);
    padding: 10px;
    border-radius: 100%;
    border: none;
}

.buttonQuantity:hover{
    cursor: pointer;
    background-color: black;
    transition: all ease-in-out 0.3s;
}

.numberQuantity{
    font-size: 20px;
}

@media (max-width: 1200px) {
    .containerNewUser{
        padding: 10px;
        padding-bottom: 20px;   
    }

    .containerGoBack{
        padding: 30px;
    }

    .buttonQuantity{
        width: 10%;
    }

    .containerForm{
        padding: 0px;
        width: 100%;
    }

    .containerSize input{
        height: 20px;
    }

    .titleUsers{
        padding: 30px;
        margin-top: 0px;
    }

    .contextPage{
        padding: 30px;
        margin-top: 20px;
    }

    .containerForm{
        margin-top: 0px;
    }

    .subMenuInfo ul li{
        padding: 5px;
        font-size: 12px;
    }

    .subMenuInfo .bi{
        font-size: 15px;
    }

    .containerButtonMain button{
        padding: 13px;
    }

    .containerButtonMain button a{
        font-size: 13px;
    }

    .containerAccountAll{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .containerFormRegister{
        margin-top: 70px;
        width: 80%;
    }

    .containerCardAccount{
        width: 100%;
        height: 400px;
        margin-top: 80px;
    }

    .containerAccount{
        flex-direction: column;
    }

}

@media (max-width: 1000px) {
    .containerSubBar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subMenuInfo{
        justify-content: space-around;
    }

    .subMenuInfo ul li{
        display: block;
    }

    .containerButtonMain{
        text-align: center;
    }

    .buttonQuantity{
        width: 10%;
    }
    
    .containerButtonMain button{
        margin-top: 20px;
    }

    .containerIconsMain{
        display: grid;
    }

    .containerIconsMain i{
        margin: 2px;
    }

}