{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">    
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/manageUsers.css' %}">
    <title>Gestión - Usuarios</title>
</head>
<body>

    {% include 'components/navbarMain.html' %}
    
    <section class="containerUsers">
        <div class="containerGoBack">
            <a href="{% url 'home' %}">
                <i class="bi bi-house-fill"></i>
            </a>
        </div>

        <div class="titleUsers">
            <h2>Administración de Usuarios</h2>
        </div>

        <div class="contextPage">
            <p>
                Bienvenido usuario administrador, aquí podrás encontrar el apartado donde podrás gestionar a todos los diferentes usuarios que hacen
                parte del sistema de información, podrás realizar operaciones de inserción para un nuevo usuario donde se tendrán que completar todos los diferentes datos correspondientes que harán parte de la base de datos,
                también como administrador podrás realizar acciones de actualización de usuarios donde se podrán actualizar campos específicos de un único usuario, y, por último, pero no menos importante
                como administrador podrás elegir a los diferentes usuarios para poder eliminarlos del sistema de información y que ya no puedan acceder sin una creación previa de una cuenta de usuario.
            </p>
        </div>

        <div>
            <div class="containerAddUser">
                <div class="containerSubAdd">
                    <a href="{% url 'renderInsertUser' %}">
                        <h3>
                            <i class="bi bi-person-fill-add"></i>
                            Añadir Usuario
                        </h3>
                    </a>
                </div>
            </div>

            <div class="containerCartProducts">
                <div>
                    <div>
                        <div class='containerTable'>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Numero de Documento</th>
                                        <th>Nombre Completo</th>
                                        <th>Correo Electrónico</th>
                                        <th>Administrador</th>
                                        <th class="optionsFile">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                        {% if request.user.documentNumber == user.documentNumber%}
                                        {% else %}
                                        <tr>
                                            <td data-label='Numero de Documento'>{{user.documentNumber}}</td>     
                                            <td data-label='Nombre Completo'>{{user.fullName}}</td>                                    
                                            <td data-label='Correo Electronico'>{{user.email}}</td>                                    
                                            <td data-label='Correo Electronico'>{{user.is_superuser}}</td> 
                                            <td data-label="Opciones">
                                                <a href="/users/renderUpdateUser/{{user.documentNumber}}">
                                                    <i class="bi bi-arrow-clockwise options clientUpdate"></i>                                                    
                                                </a>                                    
                                                <a href="#" onclick="deleteUser('{{user.documentNumber}}')">
                                                    <i class="bi bi-trash3-fill options clientDelete"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </section>
    
    {% include 'components/footer.html' %}
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script>

<script>
    function deleteUser(id){        
        Swal.fire({
            icon : 'question',
            title : '¿Estas Seguro?',
            text : 'Esta es una acción definitiva, no la podras deshacer',          
            showCancelButton : true,
            cancelButtonText : 'No, Cancelar',
            confirmButtonText : 'Si, Eliminar',
            reverseButtons : true,
            confirmButtonColor : '#dc3545',
            cancelButtonColor : '#8CD608'
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = '/users/deleteUsers/'+id
            }
        })
    }
</script>

{% for message in messages %}

    {% if message.tags == 'success' %}
        <script>
            Swal.fire({
                icon : 'success',
                title : 'Felicidades',
                text : '{{message}}',
                confirmButtonText : 'Siguiente',
                allowEnterKey : true,
                allowOutsideClick : false,
                confirmButtonColor : '#4db600',
                allowEscapeKey : false
            })
        </script>
    {% else %}
        <script>
            Swal.fire({
                icon : 'info',
                title : 'Opss...',
                confirmButtonText : 'Siguiente',
                allowEnterKey : true,
                confirmButtonColor : '#00b6a0',
                allowOutsideClick : false,
                allowEscapeKey : false
            })  
        </script>
    {% endif %}

{% endfor %}

</html>