{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <title>Iniciar Sesión</title>
</head>
<body>
    {% include 'components/navbarMain.html' %}

    <div>
        
        <div class="containerSubBar">
            <div class="subMenuInfo">
                <div class="containerIconsMain">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-tiktok"></i>
                </div>
                <ul>
                    {% for i in categories %}
                        <li>
                            <a href="products/seeProducts/{{i.categoryId}}">{{i.categorieName}}</a>
                        </li>                 
                    {% endfor %}
                        <li>
                            <a href="">NOTICIAS</a>
                        </li>
                        <li>
                            <a href="">BLOG</a>
                        </li>
                </ul>
                    <a href="{% url 'allProducts' %}">
                        <i class="bi bi-cart-fill"></i>
                    </a>
            </div>

            <div class="buttonsInfo">
                <div class="containerButtonMain">
                    {% if request.user.is_authenticated %}
                        <button>
                            <a href = "{% url 'exit' %}">CERRAR SESIÓN</a>
                        </button>                                        
                    {% else %}
                        <button>
                            <a href = "{% url 'login' %}">INICIAR SESIÓN</a>
                        </button>
                        <button>
                            <a href = "{% url 'home' %}">REGISTRARSE</a>
                        </button>                                        
                    {% endif %}                                    
                </div>
            </div>

        </div>

        <div class="containerAccountAll">
            <div class="containerAccount">
                <div class="containerCardAccount back1">
                    <img src="{% static 'img/cardsImg/firstPicture.png'%}" alt="accountImage">
                </div>
                
                <div class="containerCardAccount back2">
                    <img src="{% static 'img/cardsImg/secondPicture.png'%}" alt="accountImage">
                </div>
                
                <div class="containerCardAccount back1">
                    <img src="{% static 'img/cardsImg/thirdPicture.png'%}" alt="accountImage">
                </div>         
            </div>       

            <div class="containerFormRegister">
                <h4>INICIAR SESIÓN</h4>
                <form action="/users/loginUsers/" name="form" method="post" onsubmit="return validateLogin()">
                    {% csrf_token %}      
                    <input type="text" name="documentNumber" id="documentNumber" placeholder="Numero de Documento*" required>
                    <br>
                    
                    <input type="email" name="email" id="email" placeholder="Correo Electronico*" required>                
                    <br>

                    <input type="password" name="password" id="password" placeholder="Contraseña*" required>                
                    <br>                

                    <button class="buttonRegister buttonColor1" type="submit">Iniciar Sesión</button>
                    <br>
                    <button class="buttonRegister buttonColor2">
                        <a href="{% url 'home' %}">¿No tienes cuenta?</a>
                    </button>
                    <div class="forgotPassword">
                        <a href="{% url 'reset_password'%}">¿Olvidaste tu contraseña?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include 'components/footer.html' %}


    <script src="{% static 'js/validateLogin.js' %}"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% for i in messages %}
        {% if i.tags == 'success' %}
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Felicidades',
                text: '{{i}}',
                confirmButtonText: "Siguiente",
                allowEnterKey:true,
                allowOutsideClick:false,
                confirmButtonColor:"#4db600",
                allowOutsideClick : false,
                allowEscapeKey : false,
                }
            )
        </script>

        {% else %}
            <script>
                Swal.fire({
                    icon: 'info',
                    title: 'Usuario ya existente',
                    text: '{{i}}',
                    confirmButtonText: "Siguiente",
                    allowEnterKey:true,
                    allowOutsideClick:false,
                    confirmButtonColor:"#00b6a0",
                    allowOutsideClick : false,
                    allowEscapeKey : false
                    }
                )
            </script>
        {% endif %}
    {% endfor %}

</body>
</html>