*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerPass{
    padding: 80px;
}

.containerGoBack{
    font-size: 38px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    text-decoration: underline;
}

.containerGoBack i{
    color:rgb(37, 181, 234);
}

.containerMessage{
    text-align: center;
    margin-top: 50px;
}

.containerMessage h2{
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color:rgb(37, 181, 234);    
}

.containerMessage h3{
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    margin-top: 50px;
}

@media (max-width:900px) {
    .containerPass{
        padding: 50px;
    }

    .containerGoBack i{
        font-size: 30px;
    }

}