*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    display: none;
}

.containerPass{
    padding: 100px;
}

.containerGoBack{
    font-size: 38px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    text-decoration: underline;
}

.containerGoBack i{
    color:rgb(37, 181, 234);
}

.containerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerForm h1{
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color:rgb(37, 181, 234);    
    margin-top: 40px;
}

.containerForm form{
    width: 25%;
    margin-top: 40px;
}

.containerForm label{
    color:rgb(37, 181, 234); 
    font-weight: bold;   
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
}

.containerForm input{
    width: 100%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 40px;
    border: 2px solid rgb(112, 179, 227);
    color: rgb(31, 128, 163);
    padding-left: 10px;
    text-align: center;
    font-size: medium;
}

form button{
    width: 100%;
    text-align: center;
    padding: 15px;
    border-radius: 30px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: medium;
    color: white;
    border: none;
    font-size: large;
    background-color: rgb(37, 181, 234);
}

form button:hover{
    transition: all ease-in-out 0.4s;
    opacity: 1;
    background-color: black;
    cursor: pointer;
}

@media (max-width:900px) {
    .containerPass{
        padding: 50px;
    }
    
    .containerGoBack i{
        font-size: 30px;
    }

    .containerForm h1{
        text-align: center;
    }

    .containerForm form{
        width: 100%;
    }
}